<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <button
        class="btn btn-primary"
        (click)="onButtonToggle()"
        >
        Display Details
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p *ngIf="toggleButton">Secret Password = Tune</p>
      <div
        *ngFor="let currentCount of toggleCount; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}"
        >{{ currentCount }}
        <!-- [ngClass]="" -->
      </div>
    </div>
  </div>
</div>
